force-app/main/default/flows/Send_Court_Hearing_Notification_Emails.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Court_Hearing_Email</name>
        <label>Send Court Hearing Email</label>
        <locationX>728</locationX>
        <locationY>357</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Loop_Through_All_Relationship_Records</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>CourtHearingScheduledBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Get_Contact_Information.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>CourtHearingScheduledSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <interviewLabel>Send Court Hearing Notification Emails {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Court Hearing Notification Emails</label>
    <loops>
        <name>Loop_Through_All_Relationship_Records</name>
        <label>Loop Through All Relationship Records</label>
        <locationX>643</locationX>
        <locationY>548</locationY>
        <collectionReference>Get_Benefit_Party_Relationship_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact_Information</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Notification_Email_Sent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Retrieves the Benefit Party Relationship Records -&gt; Need this in order to get Party -&gt; Contact -&gt; Email</description>
        <name>Get_Benefit_Party_Relationship_Records</name>
        <label>Get Benefit Party Relationship Records</label>
        <locationX>493</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_Relationship_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_ps__PSCaseId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Ongoing_Case.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>vlocity_ps__PSCasePartyRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets Contact Record in order to retrieve the Email Addresses</description>
        <name>Get_Contact_Information</name>
        <label>Get Contact Information</label>
        <locationX>814</locationX>
        <locationY>546</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Court_Hearing_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>vlocity_ps__PartyId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Through_All_Relationship_Records.vlocity_ps__PartyId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Ongoing Case (Benefit Case Object) related to the Court Hearing</description>
        <name>Get_Ongoing_Case</name>
        <label>Get Ongoing Case</label>
        <locationX>336</locationX>
        <locationY>553</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Benefit_Party_Relationship_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Ongoing Case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Ongoing_Case__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>vlocity_ps__Case__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Checks Notification Email Sent checkbox on Court Hearing object to TRUE.</description>
        <name>Notification_Email_Sent</name>
        <label>Notification Email Sent</label>
        <locationX>646</locationX>
        <locationY>763</locationY>
        <inputAssignments>
            <field>Notification_Email_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Ongoing_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Notification_Email_Sent__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Court_Hearing__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>CourtHearingScheduledBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!Get_Contact_Information.Name},&lt;/p&gt;&lt;p&gt;A court hearing is scheduled on {!$Record.Hearing_Date__c} for your ongoing Child Welfare case. Please attend on {!$Record.Hearing_Date__c} by 9AM without fail at the following location:&lt;/p&gt;&lt;p&gt;US District Court,&lt;/p&gt;&lt;p&gt;2120 Capitol Ave, Cheyenne,&lt;/p&gt;&lt;p&gt;WY 82001, United States&lt;/p&gt;&lt;p&gt;Phone: +1 307-433-2120&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>CourtHearingScheduledSubject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>A court hearing is scheduled on &lt;span style=&quot;font-size: 12px;&quot;&gt;{!$Record.Hearing_Date__c} for your ongoing Child Welfare Case</text>
    </textTemplates>
    <variables>
        <name>getHearingDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
